*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/baselibrary/build
baselibrary/build/cache/
baselibrary/build/generated/assets/
baselibrary/build/generated/res/
baselibrary/build/generated/source/aidl/
baselibrary/build/generated/source/apt/
baselibrary/build/generated/source/rs/
baselibrary/build/intermediates/annotations/
baselibrary/build/intermediates/bundles/debug/aidl/
baselibrary/build/intermediates/bundles/debug/assets/
baselibrary/build/intermediates/bundles/debug/classes.jar
baselibrary/build/intermediates/bundles/debug/jni/
baselibrary/build/intermediates/bundles/debug/libs/
baselibrary/build/intermediates/check-manifest/
baselibrary/build/intermediates/classes/
baselibrary/build/intermediates/incremental/debug-mergeJavaRes/
baselibrary/build/intermediates/incremental/debug-mergeJniLibs/
baselibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
baselibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
baselibrary/build/intermediates/incremental/mergeDebugAssets/
baselibrary/build/intermediates/incremental/mergeDebugJniLibFolders/
baselibrary/build/intermediates/incremental/mergeDebugShaders/
baselibrary/build/intermediates/incremental/packageDebugResources/stripped.dir/
baselibrary/build/intermediates/incremental/processDebugAndroidTestResources/
baselibrary/build/intermediates/incremental/processDebugResources/
baselibrary/build/intermediates/intermediate-jars/
baselibrary/build/intermediates/javaPrecompile/
baselibrary/build/intermediates/jniLibs/
baselibrary/build/intermediates/lint/
baselibrary/build/intermediates/rs/
baselibrary/build/intermediates/shaders/
baselibrary/build/intermediates/tmp/
baselibrary/build/intermediates/transforms/
baselibrary/build/intermediates/typedefs.txt
baselibrary/build/outputs/aar/
baselibrary/build/tmp/
